.ibic-placeholder {
	position: relative;
	z-index: 200;
}

.ibic-list[aria-hidden="true"] {
	display: none;
}
.ibic-list {
	background: #FFF;
	border: 1px solid #c3c4c7;
	overflow: auto;
	max-width: 800px;
	padding: 15px;
}
.ibic-list__item {
	display: flex;
	align-items: center;
	padding: 7px 10px;
	height: 20px;
	margin-bottom: 5px;
}
.ibic-list__item:last-child {
	margin-bottom: 0;
}
.ibic-list__item:nth-child(odd) {
	background: #F6F7F7;
}

.ibic-list__item__thumbnail {
	object-fit: cover;
	width: 20px;
	height: 20px;
	flex: 0 0 auto;
	margin-right: 5px;
}
.ibic-list__item__name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 5px;
	flex: 1 1 auto;
}
.ibic-list__item__state {
	flex: 0 0 auto;
	white-space: nowrap;
	line-height: 16px;
	margin-right: 16px;
}
.ibic-list__item__state:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: grey;
}
.ibic-list__item__state.is-processed:before {
	background: lightgreen;
}
.ibic-list__item__state.is-error:before {
	background: #D63638;
}
.ibic-list__item__state .button {
	min-height: 0;
	padding: 0;
	line-height: 1;
	margin-left: 5px;
}
.ibic-list__item .button .dashicons-before:before {
	vertical-align: middle;
}
.ibic-list__item__error {
	color: #D63638;
	margin-right: 16px;
}
